In [1]:
# Libraries needed for basic web-scraping
from IPython.core.display import HTML
from bs4 import BeautifulSoup
import requests # package required to interact with live webpage
import pandas as pd # will use to store the data from the webpage
import csv
import time
import os.path as path

***Functions***

In [42]:
a = pd.DataFrame(columns=['Ciudad','campo5','campo2'])
a['Ciudad'] = [2]
a['campo5'] = [2]
a['campo2'] = [2]
a.to_csv('a.csv',header=True,index=False,mode='a')
print(a)
b = pd.DataFrame(columns=['Ciudad','campo3'])
b['Ciudad'] = [1]
b['campo3'] = [4]
b['campo5'] = [4]

   Ciudad  campo5  campo2
0       2       2       2

In [43]:
c = pd.concat([a,b],sort='False')
c

   Ciudad  campo2  campo3  campo5
0       2     2.0     NaN       2
0       1     NaN     4.0       4

In [21]:
'''
url = Url de la pagina a consultar
name_file_out = Nombre del archivo con el cual desea guardar los datos consultados
'''
def get_page_html(url, name_file_out,is_save):
    site_content = requests.get(url).text
    if is_save == 1:
        with open(name_file_out+'.html', 'w', encoding="utf-8") as f:
            f.write(site_content)
    return site_content
        
def get_links_from_page_m2(site_content):
    s = BeautifulSoup(site_content, 'html.parser')
    offset = 3
    cont = 0
    list_inmuebles = []
    for t in s.find_all("a"):
        if len(str(t.get('href')).split("/")) > offset:
            if str(t.get('href')).split("/")[offset] == 'inmueble':
                cont += 1
                list_inmuebles.append(t.get('href'))
    return list_inmuebles

def save_df(data, path_name, typ_insert,header):
    #with open(path_name, typ_insert) as f:
    data.to_csv(path_name,header=header,index=False,mode=typ_insert)

In [22]:
fecha_actual = time.strftime("%Y_%m_%d")
if not path.exists('2.csv/'):
    os.mkdir('2.csv/')

In [1]:
# Scrape data from website
url_path = 'https://www.metrocuadrado.com//search/list/non-ajax/?'
list_ciudad = ['bogota'] # Listado de las ciudades donde se hace la busqueda
list_mtiponegocio = ['venta'] # Listado del tipo de negocio a buscar
list_mtipoinmueble = ['casas','apartamentos'] # Tipo de inmueble a consultar
list_zona = ['chapinero','suba','ciudad bolivar']
list_banos = ['1','2','3','4','5']

for ciudad in list_ciudad:
    for mtiponegocio in list_mtiponegocio:
        for mtipoinmueble in list_mtipoinmueble:
            for mnumbano in list_banos:
                # NÃºmero de paginas a consultar
                for i in range(1,2):
                    list_total = []
                    if i%10 == 0:
                        time.sleep(10)
                    df_url_inmuebles_new = pd.DataFrame( columns=['ciudad','tipo_negocio','tipo_inmueble','fecha_consulta','currentPage','url_inmuebles'])
                    currentPage = str(i)
                    #name_file = ciudad+'_'+mtiponegocio+'_'+mtipoinmueble+fecha_actual
                    name_file = 'listado_link_inmuebles_metrocuadrado'
                    site_url= url_path+'&mciudad='+ciudad+'&mnrobanos='+mnumbano+'&mtiponegocio='+mtiponegocio+'&mtipoinmueble='+mtipoinmueble+'&mzona=&msector=&mbarrio=&selectedLocationCategory=&selectedLocationFilter=&mestadoinmueble=&madicionales=&orderBy=&sortType=&companyType=&companyName=&midempresa=&mgrupo=&mgrupoid=&mbasico=&msemillero=&currentPage='+currentPage+'&totalPropertiesCount=999999&totalUsedPropertiesCount=999999&totalNewPropertiesCount=0&sfh=1#2259-92874B1'
                    site_content = get_page_html(site_url,'1.html/'+name_file+'.html',0)
                    list_total = list_total + get_links_from_page_m2(site_content)
                    list_total.sort()
                    list_total = list(set(list_total))
                    df_url_inmuebles_new['url_inmuebles'] = list_total
                    df_url_inmuebles_new['currentPage'] = currentPage
                    df_url_inmuebles_new['ciudad'] = ciudad
                    df_url_inmuebles_new['tipo_negocio'] = mtiponegocio
                    df_url_inmuebles_new['tipo_inmueble'] = mtipoinmueble
                    df_url_inmuebles_new['fecha_consulta'] = fecha_actual
                    if (path.exists('2.csv/'+name_file+'.csv')):
                        save_df(df_url_inmuebles_new,'2.csv/'+name_file+'.csv','a',False)
                    else:
                        save_df(df_url_inmuebles_new,'2.csv/'+name_file+'.csv','w',True)

NameError: name 'pd' is not defined

In [111]:
'''csvfile = "example.csv"
with open(csvfile, "a") as output:
    writer = csv.writer(output, lineterminator='\n')
    A1 = disct_total['ciudad']
    A2 = disct_total['tipo_negocio']
    A3 = disct_total['tipo_inmueble']
    A4 = disct_total['fecha_consulta']
    A5 = disct_total['url_inmuebles']
    writer.writerow([A1, A2, A3, A4, A5])'''

In [73]:
#
'''list_atributes = {'nombreEmpresa','propertyId','propertyType','propertyTypeId',
                'businessTypeId','hdnBusinessType','cityname','hdCompanyUrl',
                 'hdIsOcasional','propertyPrice','valorVenta','valorArriendo',
                 'areaPrivada','areaConstruida','numHabitaciones','numBanos',
                 'numGaraje','nomBarrio','zona','nameProperty','latitude','longitude'}

for inmueble in df_test2[0][100:3000]:
    atributs_list = {}
    print(inmueble)
    name = inmueble.split('/')[5]+'.html'
    print(name)
    site_content = get_page_html(inmueble, name)
    time.sleep(5)
    s = BeautifulSoup(site_content, 'html.parser')  
    
    for atributs in s.find_all("input"):
        id = atributs.get('id')
        value = atributs.get('value')
        if id is not None and value is not None:
            if id in list_atributes:
                atributs_list[id] = str(value)
                #print(id+': '+value)
    atributs_list['description'] = s.find('p',{'id':'pDescription'}).text
    div = s.find('div',{'class':'m_property_info_details'})
    try:
        for each in div.find_all('dl'):
            id = each.find('h3').text
            text = each.find('h4').text
            atributs_list[id] = str(text)
    except:
        print('m_property_info_details')
    
    try:
        div = s.find('div',{'class':'m_property_info_details more_info'})
        for each in div.find_all('dl'):
            id = each.find('h3').text
            text = each.find('h4').text
            atributs_list[id] = str(text)
    except:
        print('m_property_info_details more_info')
    
    try:
        div = s.find('div',{'class':'m_property_info_details services complements'})
        cont = 1
        for each in div.find_all('li'):
            id = 'complemento_'+str(cont)
            text = each.find('h4').text
            atributs_list[id] = str(text)
            cont += 1
    except:
        print('m_property_info_details services complements')
        
    asd = pd.DataFrame.from_dict(atributs_list, orient="index")
    asd.to_csv('csv2/'+name+'.csv')'''
'''for key in atributs_list.keys():
    print(key+': '+atributs_list.get(key))'''''

"for key in atributs_list.keys():\n    print(key+': '+atributs_list.get(key))"

In [17]:
df_test = pd.read_csv('2.csv/listado_link_inmuebles_metrocuadrado.csv')
pd.DataFrame(df_test['url_inmuebles'].unique(),columns=['url'])

                                                   url
0    https://www.metrocuadrado.com/inmueble/venta-c...
1    https://www.metrocuadrado.com/inmueble/venta-c...
2    https://www.metrocuadrado.com/inmueble/venta-c...
3    https://www.metrocuadrado.com/inmueble/venta-c...
4    https://www.metrocuadrado.com/inmueble/venta-c...
..                                                 ...
512  https://www.metrocuadrado.com/inmueble/venta-c...
513  https://www.metrocuadrado.com/inmueble/venta-a...
514  https://www.metrocuadrado.com/inmueble/venta-a...
515  https://www.metrocuadrado.com/inmueble/venta-c...
516  https://www.metrocuadrado.com/inmueble/venta-a...

[517 rows x 1 columns]

In [19]:
for inmueble in df_test['url_inmuebles'][0:1]:
    print(inmueble)

https://www.metrocuadrado.com/inmueble/venta-casa-bogota-predio-caldas-2-habitaciones-1-banos/920-42149736

In [55]:

list_atributes = {'nombreEmpresa','propertyId','propertyType','propertyTypeId',
                'businessTypeId','hdnBusinessType','cityname','hdCompanyUrl',
                 'hdIsOcasional','propertyPrice','valorVenta','valorArriendo',
                 'areaPrivada','areaConstruida','numHabitaciones','numBanos',
                 'numGaraje','nomBarrio','zona','nameProperty','latitude','longitude'}


atributs_list = {}
cont = 0
name_file_all = 'variables_inmuebles'


if (path.exists('2.csv/'+name_file_all+'.csv')):
    old_inmueble_inmueble = pd.read_csv('2.csv/'+name_file_all+'.csv')
else:
    old_inmueble_inmueble= pd.DataFrame(columns=['CÃ³digo web'])

for inmueble in df_test['url_inmuebles'][0:11]:
    
    if cont%10 == 0:
        time.sleep(10)
    name = inmueble.split('/')[5]

    if name not in list(old_inmueble_inmueble['CÃ³digo web']):
        cont += 1
        site_content = get_page_html(inmueble, name,0)
        s = BeautifulSoup(site_content, 'html.parser') 
        is_despublicado = 0
        try:
            if s.find("span",{'class':'label label-default'}).text =='Despublicado':
                is_despublicado= 1
        except:
            is_despublicado= 0

        if is_despublicado == 1:
            print("despublicado")
        else:
            for atributs in s.find_all("input"):
                id = atributs.get('id')
                value = atributs.get('value')
                if id is not None and value is not None:
                    if id in list_atributes:
                        atributs_list[id] = str(value)
                        #print(id+': '+value)
            atributs_list['description'] = s.find('p',{'id':'pDescription'}).text
            div = s.find('div',{'class':'m_property_info_details'})

            try:
                for each in div.find_all('dl'):
                    id = each.find('h3').text
                    text = each.find('h4').text
                    atributs_list[id] = str(text)
            except:
                print('m_property_info_details')

            try:
                div = s.find('div',{'class':'m_property_info_details more_info'})
                for each in div.find_all('dl'):
                    id = each.find('h3').text
                    text = each.find('h4').text
                    atributs_list[id] = str(text)
            except:
                print('m_property_info_details more_info')

            try:
                cont = 1
                for div in s.find_all('div',{'class':'m_property_info_details services complements'}):
                    text = ''
                    for each in div.find_all('li'):
                        text = each.find('h4').text +','+text
                        #atributs_list[id] = str(text)
                        cont += 1
                    atributs_list['complemento'] = str(text)
            except:
                print('m_property_info_details services complements')

            new_inmueble = pd.DataFrame()
            for key in atributs_list.keys():
                new_inmueble[key] = [atributs_list.get(key)]
            if (path.exists('2.csv/'+name_file_all+'.csv')):
                old_inmueble = pd.read_csv('2.csv/'+name_file_all+'.csv')
                new_inmueble = pd.concat([old_inmueble,new_inmueble])
                save_df(new_inmueble,'2.csv/'+name_file_all+'.csv','w',True)
            else:
                save_df(new_inmueble,'2.csv/'+name_file_all+'.csv','w',True)

920-42149736
607-M2267033
774-3645
2996-M2271118
2328-M2482408
5115-M2355477
MC2539353
3008-80417
633-211
2571-M2405158
2571-M2012354

In [ ]:
with open(csvfile, "a") as output:
    writer = csv.writer(output, lineterminator='\n')
    A1 = disct_total['ciudad']
    A2 = disct_total['tipo_negocio']
    A3 = disct_total['tipo_inmueble']
    A4 = disct_total['fecha_consulta']
    A5 = disct_total['url_inmuebles']
    writer.writerow([A1, A2, A3, A4, A5])'''

In [93]:
df_test
#site_content

                                                   0
0  https://www.metrocuadrado.com/inmueble/venta-a...